/*
#F29752 orange
#F7ECEE almost white
#D5C6E0 light purple
#261F54 dark purple
#437C90 blue
*/

@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

body{
	font-family: 'Roboto', Arial;
/*	text-align: justify;
*/	color: white;
}

/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #F29752;
}

.navbar.navbar-default li a {
    color: white;
}

.BY-testimonials .author{
	font-style: italic;
	margin-bottom: 5%;
}

*/

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #F29752;

}

/*.dropdown #drop1:hover{
	color: #F29752;
	background: rgba(38, 31, 84, 0.3);
}

.open #drop1{
	color: #F29752;
background: rgba(38, 31, 84, 0.3);}


.dropdown-menu > li > a:hover{
    background-color: rgba(38, 31, 84, 0.2);
    color: #F29752;

}

.dropdown-menu {
background: rgba(38, 31, 84, 0.7);
}


*/

.navbar.navbar-default li a {
    color: white;
}

.BY-main {
	padding-top: 50px;	
	width: 100%;
}

.BY-logo {
	width: 25px;
}

.seethrough{ 
	border: none;
	font-family: 'Roboto';
	color: white;
	background: rgba(38, 31, 84, 0.5);
}

.nav .dropdown-toggle .caret { 
	display:none; 
}

/*
.BY-fullLogo {
	/*position: absolute;
	float: left;*/

/*}

.BY-picturePromo {
    max-width: 100%;
    height: auto;

}*/

img.BY-picturePromo:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

img.BY-picturePromo
{
	width: 45vw;
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	/*border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);*/
}


@media screen and (orientation: portrait) {
  img.BY-picturePromo { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.BY-picturePromo { max-height: 90%; }
}

.BY-photo{
	height: 300px;
}



.BY-about {
	width: 100%;
}


.one-mission {
	border: 1px solid black;
	height: 500px;
	background-color: green;
}

.whole-mission {
	width: 90%;
	margin-left: 5%;
	
}

.line-BY{
	border: 10px solid white;
	margin-bottom: 60px;
	margin-top: 80px;
}



.number-border {
	border: solid white 15px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 35px;
	padding-top: 0;
	padding-bottom: 30px;
	color: white;
	font-size: 40px;
	float: left;


}
.mission-main{
	display: inline-block;
	vertical-align: bottom;
	margin-left: 5%;
	width: 65%;
}

.to-mission{

		font-size: 6vh;
		font-weight: 600;
/*		align-content: flex-end;
*//*		line-height: 100px;
*/
}
.text-mission{
	font-size: 32px;
}

@media only screen and (max-width: 965px) {
    .one-mission {
        height: 600px;
    }

    .text-mission{
	font-size: 24px;

}
}

.colour1 {
	background-color: rgba(38, 31, 84, 0.5);;
}



.colour2 {
	background-color: pink;
}

.longest-BY {
	height: 620px;
}


@media only screen and (max-width: 965px) {
    .longest-BY {
        height: 760px;
    }

    .text-mission{
	font-size: 24px;


}
}
/*











.endorsement-ltr{
	height: 500px;
}





*/