/*
#F29752 orange
#F7ECEE almost white
#D5C6E0 light purple
#261F54 dark purple
#437C90 blue
*/

@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}


body{
	padding: 10%;
font-family: 'Montserrat', sans-serif;
	text-align: justify;
	/*color: #261F54;*/
	color: #006064;
	/*background: #FAF0E6;*/
	background: #F5FFFA;
	text-align: center;

}

/******************************************** navbar *******************************************************************/

.navbar a {
    color: white;
}


.BY-logo {
    width: 25px;
}

.seethrough{ 
    border: none;
    font-family: 'Roboto';
    color: white;
    background: rgba(67,124,144, 0.6);
}



.nav .dropdown-toggle .caret { 
    display:none; 
}



.navbar-toggle .icon-bar {
    background-color: #fff;
}


.navbar.navbar-static.navbar-fixed-top li > a:hover {
    color: #F29752;
    background-color: transparent;
}

.dropdown #drop1:hover{
    background: rgba(67,124,144, 0.4);
    color: #F29752;
}

.open #drop1{
    background: rgba(67,124,144, 0.4);
}


.dropdown-menu > li > a:hover{
    background-color: rgba(67,124,144, 0.3);
    color: #F29752;
}


.dropdown-menu > li > a{
    background-color: rgba(67,124,144, 0.3);
    color: white;
}

.dropdown-menu {
background: rgba(67,124,144, 0.8);
color: #F29752;
}



/******************************************** end of navbar *******************************************************************/

.BY-dinner .title-din{
	text-align: center;
	font-size: 3.5em;
	margin-bottom: 5%;
	padding-top: 3%;
	color: #F29752;
}

.BY-dinner h3, h2, h1{
	color: #F29752;
}

.BY-dinner .text{
	margin-top: -1.5%;
}

.BY-img{
	width: 100%;
}

.BY-dinner .title{
	text-align: center;
	font-size: 3.5em;
	margin-bottom: 5%;
	padding-top: 3%;
	/*color: #437C90;*/
	color: #F29752;
}

.BY-dinner .insights-title{
	padding: 2% 0;
}
.BY-dinner .pen{
	height: 100%;
	width: 100%;
	padding-right: 50%;
	opacity: 0.5;
	margin-left: 80%;
	-ms-transform: rotate(250deg); /* IE 9 */
    -webkit-transform: rotate(250deg); /* Chrome, Safari, Opera */
    transform: rotate(250deg);
}

.BY-dinner .author{
	font-style: italic;
	margin-bottom: 5%;
}

.BY-dinner .poem{
	text-align: left;
}

.BY-dinner .insights {
	/*width: 50%;*/
	border: 2px solid blue;
}

.BY-dinner .videos {
	/*width: 50%;*/
	border: 2px solid red;
	float: right;
}

.dedication-BY{
	text-align: left;
float: left;
margin-top: 70%;


  }


.front-cover{
	background-image: url('../images/insights_cover.png');
	width: 100%;
	height: 100%;
	padding-top: 5px;
	display: table;


}
.title-insights{
display: table-cell;
vertical-align: middle;



}
.page-BY{
/*	background-color: red;
*/	padding-top: 5px;
/*	border: 1px solid blue;
*/	width: 100%;
	height: 100%
}

.text-poem{
	text-align: left;
	margin-left: 8%;
}

.b-counter {
  visibility: hidden;
}
.b-counter:after {
  content:'Click Here';
  font-family: 'Montserrat', sans-serif;

  visibility: visible;
  display: block;
  position: absolute;
  padding: 5px;
  top: 2px;
  margin-top: -5px;
}

.insights-book {
	margin-top: 5%;

}

@media screen and (max-width: 968px) {
.text-poem {
    font-size: 12px;
}
}

@media screen and (max-width: 690px) {
.text-poem {
    font-size: 9px;
}
}
